* {
  margin: 0;
  padding: 0;
}

.app-div {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #001f3f;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.break {
  flex-basis: 100%;
  height: 0;
}

p, h1, h2 {
  color:#7FDBFF;

}

h2{
  text-align: center;
  padding-bottom: 30px;
}


.sub-page-button{
  width:100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sub-page-div {
  display: grid;
  place-content: center;
  margin: 20px;
  padding: 10px;
  height: 500px;
  width: 500px;
  background-color: #111111;
  border-radius: 25px;

}

.sub-page-text{
  height: 100px;
}

